*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    overflow-x:hidden;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    --main-color:#283526;
    --background-color:#e2efff;
    /* --primary-color:#888888; */
    --primary-color:#fbf6f6;
    /* --button-background:#4b709e; */
    --button-background:#090b0a;
    --primary-button-background:#fe7469;
}

h1,h2{
    font-family: 'Geologica', sans-ser;
    color: var(--main-color)
}

h3,h4{
    font-family: 'Geologica', sans-ser;
    color: var(--main-color)
}

h3{
    font-weight: 750;
    font-size:2.2rem;
    line-height: 6rem;
    text-transform: capitalize;
}
p,a,li,button{
    font-family: 'Crimson Text', serif;
    color: var(--primary-color)
}

p {
    font-size: 1.8rem;
    line-height: 150%;
    font-style: normal;
    font-weight: normal;
  }
  
  a {
    text-decoration: none;
    /* font-size: 2rem; */
    cursor: pointer;
  }
  
  li {
    list-style: none;
  }
  
  button {
    padding: 1rem 3rem;
    border-radius: 2rem;
    line-height: 3.6rem;
    text-transform: capitalize;
    cursor: pointer;
    font-weight: normal;
    font-size: 2rem;
  }




  /* ******************MAIN MENU STYLE ********************* */
 header{
      /* background-color: aquamarine; */
      padding :0px 0px;
 }
 header nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(6, 6, 6);
    align-items: center;
    width:100%;
    height:6rem;
 }
 header nav .left-side-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(187, 255, 0); */
    width:50%;
 }


 header nav .left-side-menu a img{
    width:13rem;
    height:6.5rem;
 }

 header nav .left-side-menu .sub-menu{
    height:inherit;
    display:flex;
 }

 header nav .left-side-menu .sub-menu a{
      margin-right: 4rem;
 }

 header nav .left-side-menu .sub-menu a li{
     font-size: 2rem;
     line-height: 3.3rem;
     text-transform: capitalize;
     transition: all 0.2s;
}

header nav .left-side-menu .sub-menu a li:hover{
    /* color: rgb(93, 85, 241); */
    font-weight: bold;
}



/****************Right Side Menu Design CSS**********************/

header .right-side-menu {
     /* background-color: #fe7469; */
     width: 50%;
     display: flex;
     /* justify-content: end ; */
     
}

header .right-side-menu .sub-menu {
    display:flex;
    width:100%;
    height: inherit;
    align-items: center;
    justify-content: flex-end;
}


/* header .right-side-menu .sub-menu a{
    margin-right: 3rem;
    padding: 0.7rem 2rem;
    font-size: 2rem; 
    cursor: pointer;
    border-radius: 2rem;
}
header .right-side-menu .sub-menu a li:hover{
    background-color: rgb(247, 18, 190);
    border-radius: 2rem;
} */


header .right-side-menu .sub-menu button{
    border: none;
    padding:0.5rem 1.5rem;
    background-color: var(--button-background);
}



header .right-side-menu .sub-menu button:hover{
    /* background-color: var(--primary-button-background); */
    background-color: rgb(175, 211, 246);
}




/* ***************************************************Main hero section **************************************/

.main-hero-section{
    padding: 0 0rem 0rem 10rem;
    width:100%;
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0rem 0rem;
}

.main-hero-section .left-hero-side{
    width:50%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.main-hero-section h1{
    width: 45rem;
    font-size: 4rem;
    line-height: 6rem;
    margin-bottom: 1rem;

}

.main-hero-section img{
    width: 13.5rem;
    height: 4rem;

}

.main-hero-section p{
   color: #072aa4;
   margin-bottom: 8rem;
   width:45rem;
}

.main-hero-section a img{
    width: 13.5rem;
    height:4rem;
}

.main-hero-section .button-group a:first-child{
    margin-right: 2.5rem;
}



 /* **************************main hero right side  *********************************/

 .main-hero-section .right-hero-side {
    width: 50%;
    /* height: 100vh; */
 }

 .main-hero-section .right-hero-side a img {
    width: 100%;
    height: 100vh;
 }




 /* **************************2nd section Common Section left side*********************************/

.common-section{
    width:100%;
    height: 70rem;
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 6rem;
    margin-top:5rem;
    padding:0rem 0rem 0rem 0rem;
}


.common-section .left-side{
    width:inherit;
    height:inherit;
}
.common-section .left-side img{
    width:100%;
    height:60rem;
    border-radius: 2rem;
    /* margin-left: 10rem; */
}




/* **************************2nd section Common Section left side*********************************/

.common-section .right-side{
    width:inherit;
    height:inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.common-section .right-side h2{
    color:rgb(98 217 80);
    width:40rem;
    font-family: normal;
    font-weight: bold;
    font-size: 4rem;
    line-height: 6.5rem;
    margin-bottom: 3rem;
    text-transform: capitalize;
}


.common-section .right-side p{
    width:40rem;
    height:9rem;
    color:#666f6e;
    margin-bottom: 2rem;
    /* background-color: rgb(255 254 239); */
}
.common-section .right-side .common-button{
     padding:1rem 3rem;
     margin-right: 2rem;
     background-color: rgb(111 240 100);
     border: none;
}

.common-section .right-side .common-button:hover{
    background-color: rgb(28, 170, 15);
}

.common-section .right-side .common-button-normal{
    padding:1rem 3rem;
    margin-right: 2rem;
    color:black;
    font-weight: bold;
    /* background-color: rgb(214, 240, 100); */
    border: none;
}

.common-section .right-side .common-button-normal:hover{
    background-color: rgb(28, 170, 15);
}


/****************************************** Third section ********************************************/

.section-third{
    width:100%;
    height:auto;
   
}

.section-third h2{
    font-size: 5.5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

/* .section-third h3{
    text-align: center;
} */
/* .section-third img{
    margin-left: 2rem;
} */

.section-third p{
    width:36rem;
    /* height:9rem; */
    color: #090b0a;
    margin:auto;
    margin-bottom: 3rem;
    text-align: center;
}

.section-third .section-third-task{
    background-color: #c4dfff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-column-gap: 3rem;
    padding:10rem 0rem;
    

}

.section-third .section-third-task .task1, .section-third .section-third-task .task2 , .section-third .section-third-task .task3{
    /* background-color: #090b0a; */
    padding-top:2rem;
    text-align: centre;
    transition: all 0.3s linear;
    border-radius: 2rem;
}


.section-third .section-third-task .task1 h3,
  .section-third .section-third-task .task2 h3,
  .section-third .section-third-task .task3 h3 {
    text-align: center;
    font-size: 2.5rem;
    text-transform: capitalize;
    margin-top: 2rem;
  }
  
  .section-third .section-third-task .task1 img,
  .section-third .section-third-task .task2 img,
  .section-third .section-third-task .task3 img {
    justify-content: center;
    width: 15rem;
    height: 15rem;
    transition: all 0.3s;
  }
  
  .section-third .section-third-task .task1 img,
  .section-third .section-third-task .task2 img {
    height: 16rem;
  }

  .section-third .section-third-task .task1 img{
           margin-left: 12rem;
  }
.section-third .section-third-task .task2 img{
    margin-left: 12rem;
  }
  .section-third .section-third-task .task3 img{
    margin-left: 12rem;
  }

  /* .section-third .section-third-task .task3{
      background-color: #fbf6f6;
      box-shadow: 0rem 0.4rem 2rem rgba(35, 52, 53, 0.25);
  } */

  .section-third .section-third-task .task1:hover, .section-third .section-third-task .task2:hover,.section-third .section-third-task .task3:hover{
      background-color: #fbf6f6;
      box-shadow: 0rem 0.4rem 2rem rgba(35, 52, 53, 0.25);
  } 


  .section-third .section-third-task .task1:hover > img,
  .section-third .section-third-task .task2:hover > img,
  .section-third .section-third-task .task3:hover > img {
        transform:rotate(360deg)
  }


  /* ***************************The fourth section ************************************/

  #section-4{
      margin-top: 20rem;
  }

  #section-4 .right-side h2{
       color:rgb(80 212 217);
       width: 30rem;
  }

  /* #section-4 .right-side p{
    background-color:rgb(220 249 249); 
    width: 30rem; 
} */

  #section-4 .left-side img{
    height:inherit;
    width:inherit;
    margin:0
}
#section-4 .right-side .common-button{
    background-color: rgb(80 212 217);
    color: #090b0a;
}
#section-4 .right-side .common-button:hover{
    background-color: rgb(87, 162, 238);
}


#section-4 .right-side .common-button-normal{
    background-color: rgb(80 212 217);
    /* background-color: rgb(87, 162, 238); */
}
#section-4 .right-side .common-button-normal:hover{
    background-color: rgb(87, 162, 238);
}



/* **********************Section-5 *******************************/

#section-5 .left-side img{
    height: 50vh;
    /* justify-content: center; */
    /* margin-top: 20rem;
    margin-right: 5rem; */
}

#section-5 .right-side {
    justify-content: flex-start;
    align-items: flex-start;
}

#section-5 .right-side .fitness-goals{
       align-items: center;
}
#section-5 .left-side figure{
    margin-top: 20rem;
    margin-right: 10rem;
}

#section-5 .right-side h2{
    width:50rem;
    color:rgb(21 39 157);
}


#section-5 .right-side h3{
    /* width:50rem; */
    color:rgb(80 217 171);
    text-transform: none;
}

.fa-heart{
    color:#a2ecac;
}


/* ***************************************Fotter Section *******************************************************/


footer{
    width:100%;
    height:auto;
    background-color: #060201;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer img{
    width:10rem;
    height:5.5rem;
}

footer .footer-menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer .footer-menu h4{
    color: #e2efff;
     font-size: 2rem;
     text-transform: capitalize;
     line-height: 3rem;
}

footer .footer-menu a{
    font-size: 1.5rem;
}



/* ************************7th section social media section *******************************/
.icon-bar{
    position: fixed;
    top:50%;
    z-index: 10;
    transform: translateY(-50%);
}


.icon-bar a{
    width:18rem;
    /* border: #fe7469; */
    background-color: rgb(15, 48, 234);
    color:rgb(242, 238, 245);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.7rem;
    padding: 0.5rem;
    transition:all 0.5s linear;
    transform:translateX(-15.2rem);
}

.icon-bar a:hover{
    transform: translateX(0);
}


.icon-bar a .fab{
    /* width:1rem; */
   padding-left: 1rem;
   /* animation: letszoom 3s linear alternate-reverse infinite; */
}

/* @keyframes letszoom{
    from{
        transform: scale(0.5);
    }
    to{
        transform: scale(1s);
    }
} */


.icon-bar .telegram {
    background: #00aced;
  }
  
  .icon-bar .instagram {
    background: #e4405f;
  }
  
  .icon-bar .facebook{
    background: #040404;
  }
  
  .icon-bar .linkedin {
    background: #0077b5;
  }


/* ***************************Responsive Design ***********************************/

                                      



                                               /* FOR TABLET DEVICES */
@media(max-width:990px){
    .main-hero-section .right-hero-side{
       height:40rem;
       position:relative;
    }
    .main-hero-section .right-hero-side a img{
        width:100%;
        height:100%;
        /* margin-top: 1rem; */
        /* margin-bottom: 1.5rem; */
    }

    .main-hero-section .left-hero-side h1{
        width:80%;
    }

    .main-hero-section .left-hero-side p{
         width:80%;
         margin-bottom: 4rem;
    }


    .common-section{
        width:100%;
        height:auto;
        display:grid;
        grid-template-columns: 1fr;
    }

    .common-section figure{
        height:40rem;
    }
    .common-section .left-side figure img{
        height:100%;
    }

    .common-section .right-side h2{
        /* width:100%; */
        /* font-size: 4rem;
        line-height: 6.5rem;
        margin-bottom: 3rem; */
    }

    .common-section .right-side p{
        /* width:100%; */
        /* font-size: 4rem;
        line-height: 6.5rem;
        margin-bottom: 3rem; */
    }

                             /* *************************Section Third ***********************************/
     
    .section-third{
        height:auto;
    }

    .section-third h2{
        font-size: 4rem;
    }
    .section-third .section-third-task{
        display: grid;
        grid-template-columns: 1fr;
    }

    .section-third .section-third-task .task1 img{
         display: block;
         margin-left: auto;
         margin-right: auto;
    }

    .section-third .section-third-task .task2 img{
        display: block;
        margin-left: auto;
        margin-right: auto;
   }
   .section-third .section-third-task .task3 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.section-third p{
   width:80%;
}

/* *******************************************Fourth section******************************* */

#section-4{
    margin-top: 5rem;
    margin-bottom: 5rem;
 }

 #section-4 .left-side{
   margin-top: 4rem;
 }

 #section-4 .right-side h2{
    width:80%;
    text-align: center;
 }

 #section-4 .right-side p{
    width:60%;
    height:auto;
 }
 #section-4 .left-side img{
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 /* ********************************************************FIFTH SECTION ********************************************/
#section-5{
    margin-top: 10rem;
}

 #section-5 .left-side figure{
    width:100%;
    margin-top: 0;
 }

 #section-5 .left-side figure img{
    
    height:100%;
 }

 #section-5 .right-side{
    justify-content: center;
    align-items: center;
 }

 #section-5 .right-side h2{
     text-align: center;
     width:80%;
 }

 #section-5 .right-side .fitness-goals p{
    text-align: center;
    width:100%;
    height:auto;
}

 #section-5 .right-side .fitness-goals{
    /* text-align: center; */
    width:60%;
}

#section-5 .right-side .fitness-goals h3{
    line-height: 4rem;
    margin-bottom: 2rem;
    /* width:60%; */
}

#section-5 .right-side .fitness-goals .task-1{
    text-align: center;
    /* width:60%; */
}
#section-5 .right-side .fitness-goals .task-2{
    text-align: center;
    /* width:60%; */
}
#section-5 .right-side .fitness-goals .task-3{
    text-align: center;
    /* width:60%; */
}



/* **************************************Footer Section************************************************** */
footer{
    display:grid;
    grid-template-columns: none;
}

footer .logo-div{
    margin-top: 2rem;
}

/* footer .footer-menu h4{
    font-size: 1.8rem;
} */






}






/* for mobile devices */
@media(max-width:770px){
    header,.main-hero-section,.common-section{
         padding: 0rem 0rem;
    }

    header nav{
        background-color: black;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        height:auto;
    }
    header nav .left-side-menu{
        order: 2;
        display: block;
        width: 100%;
    }
    /* header nav .right-side-menu{
       background-color: #040404;
    } */

    
    header nav .left-side-menu .sub-menu{
        flex-wrap: wrap;
     }


    header nav .left-side-menu img{
        display: block;
        width: 100%;
    }

    header nav .left-side-menu .sub-menu a {
       margin-right: 2rem;
     }

     header nav .right-side-menu{
        order: 1;
        /* display: block; */
        width: 100%;
    }

    /* *******************************Main hero section ********************************/

    .main-hero-section{
        width:100%;
        height:auto;
        display: flex;
        flex-flow: column;
    }

    .main-hero-section .left-hero-side{
       /* margin-left: 10rem; */
       width:100%;
       order:2;
       display: flex;
       justify-content: center;
       align-items: center;
    }

    .main-hero-section .left-hero-side h1{
        /* width:100%; */
        height: auto;
        line-height: 5rem;
        margin-bottom: 2rem;
        font-size: 4rem;
        text-align: center;
     }

     .main-hero-section .left-hero-side p{
        /* width:100%; */
        margin-bottom: 5rem;
        font-size: 2rem;
        position: relative;
        text-align: center;
     }

    .main-hero-section .right-hero-side{
       width:100%;
       order:1;
       display: flex;
       justify-content: center;
       align-items: center;
       position: relative;
    }

    .main-hero-section .right-hero-side a img{
        width:100%;
        height:30rem;
        /* margin-top: 2rem; */
        /* margin-bottom: 1.5rem; */
    }


    /* common section */

    .common-section .right-side h2{
        text-align: center;
    }

    .common-section .right-side p{
        text-align: center;
    }

    /* section third */




    /* *******************************************Fourth section******************************* */

  #section-4{
    margin-top: 3rem;
    margin-bottom: 3rem;
 }

 #section-4 .right-side h2{
    width:80%;
    text-align: center;
 }

 #section-4 .right-side p{
    width:60%;
    height:auto;
 }
 #section-4 .left-side img{
    width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 #section-4 .left-side{
    margin-top: 4rem;
  }


  /* ********************************************FOOTER****************************** */

  footer .footer-menu h4{
    font-size: 1.2rem;
}


}





